extends ../layout

block content
  
  h1 #{ title }
  p
    |Welcome to your dashboard, you are logged in.
  
  h2 User Information
  p Email/Login: #{user.email}
  p First Name: #{user.firstName}
  p Last Name: #{user.lastName}
  p Email: #{user.email}
  p Sign Up Date: #{user.date}
  a(href='/logout')
    button.btn Sign Out
  
  form(method="post")
    input(type="hidden", name="_csrf", value=csrfToken)
    span Item:
    input(type="text", name="itemName", required=true)
    br
    span Description:
    input(type="text", name="description", required=true)
    br
    span Price:
    input(type="text", name="price", required=true)
    br
    input.btn(type="submit" value="List") 
    
  h4 My Items
  table
    tr
      th Name
      th Description
      th Price
      th Posted
    each items in merc
      - var href = "listing/" + items.id
      - var id = items.id
      tr  
        td
          a(href=href) #{items.itemName} 
        td #{items.description}
        td #{items.price}
        td #{items.date}
        td
          form(method="post" action="/delete/"+ id) //-
            input(type="hidden", name="_csrf", value=csrfToken)
            input.btn(type="submit" value="Delete") 
            //- delete should be handled with post requests, gets should never change state.
            
          
          
          
