extends layout

block content
  h1 Listings
  table
    tr
      th Name
      th Description
      th Price
      th Contact
    each items in merchandise
      - var href = "listing/" + items.id
      tr  
        td
          a(href=href) #{items.itemName} 
        td #{items.description}
        td #{items.price}
        td #{items.email}
        
    
