extends ../layout

block content

  ul  
    li Item Name: #{merchandise[0].itemName} 
    li Description: #{merchandise[0].description}
    li Price: #{merchandise[0].price}
    li Email: #{merchandise[0].email}
    li Posted: #{merchandise[0].date}
