extends ../layout

block content
  h1 Listings
  table
    tr
      th Name
      th Description
      th Price
      th Contact
      th Posted
    each items in merchandise
      tr  
        td
          a(href="listing/" + items.id) #{items.itemName} 
        td #{items.description}
        td #{items.price}
        td #{items.email}
        td #{items.date}
    
