extends ../layout

block content
  h1 Create an Account
  if error
    p Error: #{ error }
  form(method="post")
    input(type="hidden", name="_csrf", value=csrfToken)
    span First Name:
    input(type="text", name="firstName", required=true)
    br
    span Last Name:
    input(type="text", name="lastName", required=true)
    br
    span Email:
    input(type="text", name="email", required=true)
    br
    span Password:
    input(type="password", name="password", required=true)
    br      
    input(type="submit")
